<!doctype html>
{% load staticfiles %}
<html>
<head>
<title>狗狗百科</title>
<meta charset=utf-8>
<link rel=stylesheet href={% static 'main/css/main.css' %}>
</head>
<body>
<h1>英國古代牧羊犬</h1>

<p><img src={% static 'aaa/img/2013112514413014.jpg' %} alt=程式語言影像></p>

<h3>原名：</h3><p>英國古代牧羊犬 </p>
<h3>原產地：</h3><p>英國</p>
<h3>體重：</h3><p>23 ~ 35公斤</p>
<h3>身高：</h3><p>55 ~ 62公分</p>
<h3>皮毛：</h3><p>毛是細粗毛，不屬捲毛也不是直毛，下毛具有防水性</p>
<h3>皮色：</h3><p>灰色、藍色、大理石色加有白斑</p>
<h3>個性：</h3><p>溫馴、聰明、穩重、忠誠 </p>

<h3>特徵：</h3>
<p>長密的毛髮遮蓋了兩側耳朵及咖啡或藍色眼睛，整個臉部只漏出了黑色鼻頭，體高與體長幾乎相同，身軀有著濃密的雙層批毛，白色加上籃黑色的斑點，尾部從小被斷尾，有強壯的前後腿小而圓的腳部。 </p>
<h3>犬用途：<h3></h3><p>牧羊犬、家庭犬 </p>

<h3>起源與歷史：</h3> 

<p>英國古代牧羊犬源自歐洲大陸，牠的祖先可能是源自歐洲的牧羊犬，如貝加馬斯卡犬(BERGAMASCO)、伯瑞犬(BRIARD)等交配而成，由當時的牧羊者所培育，被用來幫助飼主驅趕牛羊到市集中出售，乃被稱為「家畜商人犬」，除此之外英國古代牧羊犬擁有特殊長厚的披毛，被當做羊毛來編織毛衣，加上溫和個性，為當時喜愛的犬種之一。 

延自傳統，一般飼養者於出生時都會予以斷尾，然而可知當時斷尾是用於區隔牧羊用與販賣用犬，販賣用犬當時是要繳稅的，因此當時負責牧羊的犬隻便被斷尾區別，而使得現今仍保留斷尾的傳統。 </p>

<h3>飼養要領：</h3><p>注意身體的清洗，眼部及全身毛髮的整理，夏日炎熱潮溼裹著長毛的牠，消暑對牠而言是重要的，要保持環境通風涼爽，長毛皮膚的照顧及除蟲都非常重要，毛質的照顧與梳理是不可缺少的；此外，充分地運動也是很重要的。</p>
<p><a href={% url 'hello:hello' %}>回犬類品種</a></p>
</body>
</html>