<!doctype html>
{% load staticfiles %}
<html>
<head>
<title>狗狗百科</title>
<meta charset=utf-8>
<link rel=stylesheet href={% static 'main/css/main.css' %}>
</head>
<body>
<h1>米格魯</h1>

<p><img src={% static 'ddd/img/d1133855.jpg' %} alt=程式語言影像></p>

<h3>原名：</h3><p>米格魯 </p>
<h3>原產地：</h3><p>英國</p>
<h3>體重：</h3><p>8 ~ 14公斤</p>
<h3>身高：</h3><p>33 ~ 38公分(13英吋，15英吋，18英吋)</p>
<h3>皮毛：</h3><p>濃密滑順的短毛，不沾水</p>
<h3>皮色：</h3><p>白、黃、黑色(俗稱三色)及黃白二色</p>
<h3>個性：</h3><p>活潑、開朗、好動、好奇心重，喜歡散步奔跑  </p>

<p>此犬種為狩獵犬中最小型。源自古希臘時代。偌曼人和法蘭西人的混血民族都曾將此犬飼養作捕狩獵兔用。此犬在 1066年傳入英國。當時由於其體型較小，常被放在口袋裏，故稱之為口袋米格魯犬，現在米格魯獵犬即由此犬改良而來的。伊莉莎白一世，威廉二世，喬治三世都飼養此犬種，並在薩克西斯郡不萊登的丘陵地上作狩獵犬使用。1895年英國米格魯獵犬俱樂部成立，數年登陸美國。</p>>

<h3>特徵：</h3>
<p>著名的特徵是一對長耳朵，和界線分明的斑塊，略帶圓頂型的頭骨，前腳直立、大腿長度中等，結實的腳有厚厚的腳墊，耳朵柔軟下垂，尾巴有精神的豎起是牠的特色。 </p>
<h3>犬用途：<h3></h3><p>狩獵犬、伴侶犬  </p>

<h3>起源與歷史：</h3> 

<p>米格魯獵犬的名稱來自法語(beagueule)"大開嘴巴"之意，可能是米格魯獵犬成群結隊時，喜愛吠叫、吵鬧而命名，此犬種是狩獵犬中最小型的一種。米格魯獵犬來自古希臘時代，諾曼人和法蘭西斯人的混血民族曾經將此犬飼養作捕狩野兔用，西元1066年傳入英國，當時體型比現在小，有時被放在小物品袋裡，或騎馬時將牠放在口袋中，小型的口袋米格魯犬就是由攜帶用犬種改良而來的，現在己無法見到了。米格魯獵犬傳統上是用來獵野兔的，因為牠雖然體型小，但卻健壯結實。成群工作，依靠嗅覺來追蹤獵物，表現極大的耐力及耐勞精神。 

米格魯和王室關係深遠，是古代英國皇室用來狩獵小松鼠及兔子的小獵犬，同時也是皇室貴族的寵物，伊麗莎白一世、威廉三世、喬治四世都曾飼養過，並在薩西克斯郡不萊登附近的丘陵地上作狩獵犬使用。西元1895年英國米格魯獵犬俱樂部成立，數年後便登入美國。 </p>

<p><a href={% url 'hello:hello' %}>回犬類品種</a></p>
</body>
</html>