<!doctype html>
{% load staticfiles %}
<html>
<head>
<title>狗狗百科</title>
<meta charset=utf-8>
<link rel=stylesheet href={% static 'main/css/main.css' %}>
</head>
<body>
<h1>柯基犬</h1>

<p><img src={% static 'eee/img/d902025.jpg' %} alt=程式語言影像></p>

<h3>原名：</h3><p>柯基犬 </p>
<h3>原產地：</h3><p>英國威爾斯</p>
<h3>體重：</h3><p>約15公斤</p>
<h3>身高：</h3><p>平均肩高大約25至30公分</p>
<h3>皮毛：</h3><p>被毛的長度比短毛稍長。</p>
<h3>皮色：</h3><p>有紅色、黑貂色、淡紅褐色、黑色等，胸部、四肢與頸部</p>


<h3>介紹</h3>
<p>威爾斯柯基犬是一種原產於英國威爾斯的品種，被認為是源自維京人帶來威爾斯的Swedish Vallhund；「柯基」在威爾斯語中是矮犬的意思。 </p>




<p>威爾斯柯基犬平均肩高大約25至30公分、重約15公斤，原本培養來放牧牛羊，低矮的身材讓他們免於被牛隻踢到。柯基犬是主動的犬隻並且相當的聰明，是絕佳的夥伴動物，並且在牧羊競賽跟犬隻敏捷競賽中是出色的參賽者。 </p>

<p>威爾斯柯基犬通常分成兩個品種：「卡提根」威爾斯柯基跟「潘布魯克」威爾斯柯基。1934年起美國育犬協會承認他們為不同的品種。卡提根是兩種中較大的、有著較大的圓耳跟狐狸般下垂的尾巴；潘布魯克的特徵則是較圓的耳朵跟較小的身材。潘布魯克的尾巴傳統上是斷尾成平貼的兔尾巴，讓他們看起來像無尾。兩種的毛色皆非常多樣，但在品種間仍有一些差別。
</p>

<p>潘布魯克以作為現任英國女王伊莉莎白二世的愛犬著名，女王隨時都養著四隻（某部喜劇電影以女王的愛狗成痴開玩笑；劇中的恐怖份子用槍要脅女王簽字，女王很果斷的回絕說『Never！』可是槍一指到女王的潘布魯克愛犬，愛犬露出此品種標準的無辜表情時，女王馬上乖乖簽字）。

這也是在日昇社動畫星際牛仔出現的天才犬Ein(名字典故是愛因斯坦)的品種。</p>
<p><a href={% url 'hello:hello' %}>回犬類品種</a></p>
</body>
</html>