<!doctype html>
{% load staticfiles %}
<html>
<head>
<title>狗狗百科</title>
<meta charset=utf-8>
<link rel=stylesheet href={% static 'main/css/main.css' %}>
</head>
<body>
<h1>秋田犬</h1>

<p><img src={% static 'ccc/img/下載.jpg' %} alt=程式語言影像></p>

<h3>原名：</h3><p>秋田犬 </p>
<h3>原產地：</h3><p>日本秋田縣</p>
<h3>體重：</h3><p>34 ~ 50公斤</p>
<h3>身高：</h3><p>60 ~ 71公分</p>
<h3>皮毛：</h3><p>硬直毛。外披毛為濃密而粗糙的短剛毛，緊實的覆蓋著全身，內披毛則柔軟細緻，密實勻稱，有界線清楚的毛色</p>
<h3>皮色：</h3><p>黑、紅、白、虎斑色等</p>
<h3>個性：</h3><p>沈著穩重、冷靜、有耐性，但不十分友善或愛玩。訓練容易，地域觀念極強，平時相當安靜，不會亂咬、亂挖；具攻擊性，遇到陌生人時會激烈吠叫。 </p>

<h3>特徵：</h3>
<p>有魁梧的身材，筆直的前腿和肌肉發達的後腿，活動力強，粗而往上捲的尾巴。具有強烈的統馭傾向，對於其他狗的挑釁會以攻擊來回應，是具有攻擊性的犬種。 </p>
<h3>犬用途：<h3></h3><p>看門犬、家庭犬 </p>

<h3>起源與歷史：</h3> 

<p>日本犬之王，代表日本的犬種，也是跟狆狗同被列為國際性公認的犬種。起源於十七世紀，主要用途是獵捕大動物，為日本最大型的土狗。祖先是中型獵犬秋田股木犬，頭部大而寬，臉部有非常明顯如熊般的表情，是由流放到日本本州秋田縣的貴族所培育，為了激勵武士們，以秋田獵犬做為鬥犬用。明治維新後，歐美原產犬開始引進，而日趨雜種化，還有，交通也更為發達，使得秋田犬與他犬的鬥犬也更流行，但秋田犬略居劣勢，於是開始設法改良為大型犬而變成為現在的體態。 

但由於引起社會弊端，遂下達鬥犬令，於是飼養也大為減少，幾近滅種；後來，為了高倡軍國主義，掀起了日本犬保護運動。1932年被指定為天然紀念物，設立育犬團體，持續改良成木型日本犬作為家庭用的看門犬飼養，但仍保有堂堂正正、勇猛純樸的樣貌。 

日本秋田犬在第二次世界大戰後被帶到美國，故有美國秋田犬和日本秋犬之分，經混血的結果，產生了很多不同的品種，與原始的秋田犬在相貌上已有所差異；育種專家重新培育，經多次交配，只留下秋田犬好的部份，進行交配，製造出來的，從此後被譽為國犬。1960年後標準的美國秋田犬才逐漸穩定；1972年時才被美國犬舍協會所認定。  </p>

<h3>飼養要領：</h3><p>對主人很順從，因此飼主對於社交行為必須要從小訓練。此外，為了防止牠過於肥胖，拖拉運動是不可欠缺的。除了平時的定期清潔與整理外，在換毛時，更要不辭辛勞地為牠刷毛。</p>
<p><a href={% url 'hello:hello' %}>回犬類品種</a></p>
</body>
</html>