<!doctype html>
{% load staticfiles %}
<html>
<head>
<title>狗狗百科</title>
<meta charset=utf-8>
<link rel=stylesheet href={% static 'main/css/main.css' %}>
</head>
<body>
<h1>拉布拉多</h1>

<p><img src={% static 'bbb/img/拉布拉多犬.jpg' %} alt=程式語言影像></p>

<h3>原名：</h3><p>拉不拉多 </p>
<h3>原產地：</h3><p>英國</p>
<h3>體重：</h3><p>25 ~ 34公斤</p>
<h3>身高：</h3><p>57 ~ 62公分</p>
<h3>皮毛：</h3><p>黑色、巧克力色、米色等單色</p>
<h3>皮色：</h3><p>短、厚、硬能防水，無波浪</p>
<h3>個性：</h3><p>聰明、溫馴、服從性高、活潑好動  </p>

<h3>特徵：</h3>
<p>垂耳，尾巴長度適中，越向尾根越寬闊，而向尾頂則越尖，但整條尾巴被短密的披毛覆蓋，成橢圓形，應提起，不應捲曲在背部。水瀨狀的長尾巴、彎腳趾和厚腳墊。腳程極快，擅長游泳，喜歡拾回物品，具有旺盛的好奇心及敏銳的嗅覺能力。 
</p>
<h3>犬用途：<h3></h3><p>幫助魚民拉網上岸獵犬、狩獵犬、搜尋犬、導盲犬、緝毒犬、伴侶犬  </p>

<h3>起源與歷史：</h3> 

<p>拉布拉多的起源是眾說紛紜，有人認為十六世紀時，北歐或英國的漁船前往北美沿岸捕魚時，將船上的狗帶到了加拿大的拉布拉多半島上，成為拉布拉多獵犬遙遠的祖先。19世紀初時，從加拿大拉不拉多島帶到英國故而得名，是經英國改良的犬種，主要幫助漁民跳入寒冷的海中拉魚，這時的名稱是聖紐翰芬蘭犬。雖然樣子與平毛獵犬相似但其被毛較短，毛色不同，且有獨特的尾巴這類犬種的嗅覺異常敏銳對於工作十分盡責而勤勉，被當做警犬使用，常有優異的成績表現現多用為獵犬、引導犬外，又被訓練用於偵察毒品及爆炸物，亦是伴侶犬。 
</p>

<h3>飼養要領：</h3><p>需每天幫牠梳理被毛；因為聰明，感覺敏銳，記憶力佳，所以訓練容易。</p>
<p><a href={% url 'hello:hello' %}>回犬類品種</a></p>
</body>
</html>